appdirs==1.4.4
beautifulsoup4==4.11.1
CacheControl==0.12.6
certifi==2021.5.30
chardet==4.0.0
colorama==0.4.5
coverage==5.5
extruct==0.13.0
html-text==0.5.2
html5lib==1.1
idna==3.2
isodate==0.6.1
jstyleson==0.0.2
lockfile==0.12.2
lxml==4.6.2
mf2py==1.1.2
msgpack==1.0.2
numpy==1.21.2
Pillow==8.3.2
pycairo==1.20.0
PyGObject==3.40.1
pyparsing==3.0.9
pyRdfa3==3.5.3
pyserial==3.4
rdflib==6.1.1
rdflib-jsonld==0.6.2
requests==2.25.1
scour==0.38.2
six==1.16.0
soupsieve==2.3.2.post1
tqdm==4.64.0
urllib3==1.26.6
w3lib==1.22.0
webencodings==0.5.1
